/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-title-color: #FF0070;
  --text-color:#F1B2CE;
  --text-font: 'IBM Plex mono', mono;
  --text-color-decor: #000028;
  --header-title-color: #DB00FF;
  --background-color: #000028;
  --background-image: url("/images/cover-image-dark.png");
  --corner-color: #FF0070;
}
