/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-title-color: #FF0070;
  --text-color:#F1B2CE;
  --text-font: 'IBM Plex mono', monospace;
  --text-color-decor: #000028;
  --header-title-color: #DB00FF;
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --corner-color: #FF0070;
  --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --title-hover: #ff007066;
  --title-active: #FF0070;
  --title-focus: #FF0070;
}
